body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 200px;
    width: 500px;
    padding: 10px;
   text-align:  center;
    box-shadow: 2px 4px 8px black;
 border-radius: 10px;
    background-color:rgb(164, 211, 211) ;
}
input{
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
 
}
button{
    border-radius: 5px;
    padding: 8px;
    background-color:rgb(9, 165, 113);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
button:hover{
    background-color: rgb(18, 245, 170);
    padding: 9px;
    cursor: pointer;
}
#result{
    margin-top: 10px;
    font-size: 20px;
   
}
